# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/
ENV/
.env
.env.*

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml


# =========================
# Logs & Temp
# =========================
*.log
*.tmp
.pytest_cache/
.coverage
htmlcov/

# =========================
# IDEs & OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
